
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(251, 221, 226);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.addHome {
    padding: 20px;
    margin-top: 100px;
    cursor: pointer;
    border:1px solid brown;
    background-color: rgb(139, 139, 234);
    color: rgb(216, 5, 5);
    font-weight: bold;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

.addHome:hover {
  background-color: rgb(54, 110, 54);
}

h1 {
  justify-content: center;
  text-align: center;
    margin-bottom: 50px;
  }


.books {
    display: flex;
  }
.book {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      border: 1px solid rgb(236, 55, 55);
      padding: 20px;
      margin: 20px;
      background-color: rgb(139, 139, 234);
      border-radius: 10px;
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
      }
   
button {
        padding: 3px 6px;
        background-color: white;
        cursor: pointer;
        border-radius: 5px;
      }
.delete {
        border: 1px solid rgb(245, 191, 191);
        color: rgb(216, 5, 5);
      }
.update {
        border: 1px solid rgb(204, 204, 243);
        color: rgb(3, 3, 76);
      }
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
      }

.input {
      width: 250px;
      padding: 10px;
      border: 1px solid gray;
    }
textarea {
      padding: 10px;
    }

button {
      border: none;
      padding: 10px;
      background-color: white;
      background-color: rgb(54, 163, 163);
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
.addbtn {
      
       justify-content: center;
      text-align: center;
    }
  .header {
    color: rgb(216, 5, 5);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: color 0.3s;
  }
  .header:hover {
    color: #ff6600;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  }

  .h2 {
    color: aliceblue;
  }